.App {
    display: flex;
    background: #F8FAFC;
}
.wrapper {
    flex: 1;
}
.json-view {
    width: 400px;
}

.workspace{
    width:800px;
    height: 800px;
    margin: 25px auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.10);
    border:1px solid rgba(0,0,0,0.10);
    background: #fff;

}
*{
    box-sizing: border-box;
}