.tr3-transform__rotator,
.tr3-transform__scale-point {
    background: #fff;
    width: 8px;
    height: 8px;
    position: absolute;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.tr3-transform__rotator:hover,
.tr3-transform__scale-point:hover{
    background: #F1F5F8;
}
.tr3-transform__rotator:active,
.tr3-transform__scale-point:active{
    background: #DAE1E7;
}

.tr3-transform__rotator {
    width: 10px;
    height: 10px;
    top: -25px;
    left: calc(50% - 5px);
    border-radius: 50%;
}

